<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WellMeadows_Hospital_G26.My.MySettings.DatabaseG26ConnectionString"
      connectionString="Data Source=DESKTOP-1NO20T3\CHANAD;Initial Catalog=DatabaseG26;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="WellMeadows_Hospital_G26.My.MySettings.SQLEXPRESSDatabaseG26ConnectionString"
      connectionString="Data Source=DESKTOP-1NO20T3\SQLEXPRESS;Initial Catalog=DatabaseG26;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
</configuration>